pulser>=1.8,<2.0
pulser-simulation>=1.8,<2.0
pulser-pasqal>=0.23,<1.0
pasqal-cloud>=0.22,<1.0
emu-mps>=2.7,<3.0
qutip>=5.3,<6.0
numpy>=1.26
matplotlib>=3.8
scipy>=1.11
pyyaml>=6.0
ipywidgets>=8.1
jupyterlab>=4.0
nbformat>=5.9
nbconvert>=7.16
ipykernel>=6.29
